@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAEBE0;
}
.bg-total{
    background-color:/* rgb(196, 190, 190)*/  rgb(227, 241, 253);
    width: 90%;
    margin: 2rem auto 10vh;
}
/*css  cartas*/
.container{
    position: relative;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1vw 0 2;
    background-color:  #FAEBE0;
    padding-left: 5%;
    padding-right: 5%;
}
.con2 p{
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-right: 10px;
    text-align: justify;
}
.contentCard{
    position: relative;
    width: 60%;
    height: 75vh;
    margin: 2vw auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: #2a7e46b5;
}

.con2{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 96%;
    border-radius: 15px;
    background-color: #2A7E46;
}

.contentCard .con2 img{
    background-color: antiquewhite;
    width: 75%;
    margin-top: 4%;
    margin-left: 12.5%;
    border-radius: 15px;
    height: 45vh;
}


.containerp{
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/acercade.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
    
}
.containerp h3{
    color: #f5f1ee;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: justify;
}
.calocho{
    background-color:#2A7E46;
    padding-left: 10px;
    padding-right: 10px;
    height: 17rem;
    width: 85%;
    border-radius: 15px;
    display: flex;
    margin: 2vw auto;
    position: relative;
    overflow: hidden;
}
.calocho p{
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.calocho img{
    border-radius: 15px;
    margin-top: 10px;
    height: 25vh;
    width: 30vh;
}







@media screen and (max-width: 900px){
.container{
    background-color: aliceblue;
}
.con2 p{
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-right: 10px;
    text-align: justify;
}
.contentCard{
    width: 90%;
    height: 96vh;
    margin: 5vw auto;
    border-radius: 15px;
    background-color: #2A7E46;
}


.calocho{
    width: 85%;
    height: 62vh;
    display: block;
}
.calocho p{
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
.calocho img{
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 27.5%;
    height: 25vh;
    width: 45%;
}
}


@media screen and (max-width: 667px){
    
    .contentCard{
        height: 100vh;
        padding-bottom: 5rem;
    }
    
    .contentCard .con2 img{
        margin-top: 4rem;
    }

    .calocho{
        padding-bottom: 4rem;
    }
}