*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #FAEBE0 !important;
}
.container h1{
    margin: 15px;
    text-align: center;
    font-weight: bold;
    color: #704E37;
}
.container hr{
    width: 20%;
    padding: 1.5px;
    margin: auto;
    color: #704E37;
    margin-bottom: 5px;
    
}
.container hr:nth-child(2){
    width: 40%;
    color: #198754;
}
.carta{
    width: 40%;
    min-height: 320px;
    margin: 50px 20px 20px 20px;
    margin-left: 6%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: solid #198754;
    border-radius: 20px 0px 20px 0px;
    background-image: url(../img/cartabg.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 10px gray;
}
.carta:nth-child(odd){
    border: solid #704E37;
    background-image: url(../img/carta2bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0px 20px 0px 20px;
    
}
.reviewimg{
    margin: 10px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: solid 3px #252525;
    border-radius: 50%;
    box-shadow: 2px 2px 10px gray;
}
.post{
    width: 100%;
    max-height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.carta hr{
    width: 90%;
    color: black;
    margin-bottom: 20px;
}
.carta h3{
    font-weight: bold;
}

@media screen and (max-width: 768px ) {
   
    .carta{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}