*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f1ee;
}
.bg-total{
    background-color:/* rgb(196, 190, 190)*/  rgb(227, 241, 253);
    width: 90%;
    margin: 2rem auto 10vh;
}

.titulos-G{
    padding: 1.5em;
    font-size: 2em;
}

.hr1{
    background-color: rgb(75, 255, 231);
    padding: 0.1em;
    width: 15%;
    margin-bottom: 0.5em;
}

.hr2{
    background-color: red;
    padding: 0.1em;
    width: 35%;
}

/*css  cartas*/
.container{
    position: relative;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1vw 0 2;
    background-color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
}

.contentCard{
    position: relative;
    width: 30%;
    height: 35vh;
    margin: 2vw auto;
    background-color: aqua;
    background: rgba(255, 255, 255, 2.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
    
    
}

.contentCard img{
    background-color: antiquewhite;
    width: 85%;
    height: 90%;
    position: relative;
    border-radius: 15px;
}

@media screen and (max-width: 900px){
.container{
    position: relative;
    width: 90%;
    display: block;
    justify-content: center;
    
    margin: 2vw 0 2;
    background-color: aliceblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.contentCard{
    position: relative;
    width: 85%;
    height: 35vh;
    margin: 5vw auto;
    background-color: aqua;
    background: rgba(255, 255, 255, 2.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden; 
    

}

.titulos-G{
    padding: 1.5em;
    font-size: 2em;
        
}
}

/*//////*/

/*
.container .card{
    position: relative;
    width: 30%;
    height: 30vh;
    margin: 1vw auto;
    background-color: aqua;
    background: rgba(255, 255, 255, 2.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
}/*

.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5%;
}

.container .card:hover .content{
    opacity: 1;
    transform:  translateY(-20px);
}

.container .card .content .imgBx{
    position: relative;
    width: 100%;
 
   height: 100  px;
    border: 10px solid rgba(0, 0, 0, 0.25);
    background-color: red;
}

.container .card .content .imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/

/*





.container .card .content .contentBx h3{
    color: rgb(20, 20, 20);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;

}
.container .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a{
    color: #1a1818;
    font-size: 24px;
}*/