@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=IBM+Plex+Sans+Thai+Looped:wght@100&family=Lato:wght@100&family=Oswald:wght@200&family=Roboto:wght@300;400&family=Water+Brush&display=swap');
 *{ 
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAEBE0;
}
.bg-total{
    background-color:/* rgb(196, 190, 190)*/  rgb(227, 241, 253);
    width: 90%;
    margin: 2rem auto 10vh;
}
#carouselExampleIndicators{
    display: none;
}
/*css  cartas*/
.container{
    position: relative;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1vw 0 2;
    background-color:  #FAEBE0;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.con2 p{
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-right: 10px;
    text-align: justify;
}
.contentCard{
    position: relative;
    width: 60%;
    height: 75vh;
    margin: 2vw auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: #2a7e46b5;
}

.con2{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 96%;
    border-radius: 15px;
    background-color: #2A7E46;
}

.contentCard .con2 img{
    background-color: antiquewhite;
    width: 75%;
    margin-top: 4%;
    margin-left: 12.5%;
    border-radius: 15px;
    height: 45vh;
}
.container-portada{
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/Finca2\ resized.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}


.portada h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 75px;
    font-weight: 500;
    font-family: 'Square Peg', cursive;
}

.portada p{
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Water Brush', cursive;
}

.containerp{
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/acercade.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
    
}
.containerp h3{
    color: #f5f1ee;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: justify;
}
.calocho{
    background-color:#2A7E46;
    padding-left: 10px;
    padding-right: 10px;
    height: 17rem;
    width: 85%;
    border-radius: 15px;
    display: flex;
    margin: 2vw auto;
    position: relative;
    overflow: hidden;
}
.calocho p{
    color: white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.calocho img{
    border-radius: 15px;
    margin-top: 10px;
    height: 25vh;
    width: 30vh;
}
.container-portada2{
    display: none;
}

@media screen and (max-width: 900px){
    .container{
        background-color: aliceblue;
    }
    .con2 p{
        color: white;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding-right: 10px;
        text-align: justify;
    }
    .contentCard{
        width: 90%;
        height: 96vh;
        margin: 5vw auto;
        border-radius: 15px;
        background-color: #2A7E46;
    }
    .calocho{
        width: 85%;
        height: 62vh;
        display: block;
    }
    .calocho p{
        margin-top: 10px;
        color: white;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
    }
    .calocho img{
        border-radius: 15px;
        margin-top: 10px;
        
        height: 25vh;
        width: 65%;
    }
}

@media screen and (max-width: 915px){
    .container{
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    .contentCard{
        padding-top: 10vh;
        height: 130vh;
        
    }
    .con2{
        height: 100%;
    }
    .contentCard .con2 img{
        margin-top: 50px;
        width: 80%;
        margin-left: 10%;
    }
    .calocho{
        display: block;
        height: 110vh;
    }
    .calocho img{

        width: 60%;
        height: 50%;
    }
    .bg-total{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

}


@media screen and (max-width: 900px){
    .container{
        background-color: aliceblue;
    }
    .container-portada2{
        text-align: center;
        color:#198754;
        display: block;
        margin-top: 2.5em;
    }
    .container-portada{
        display: none;
    }
    div.carousel-inner img{
        width: 100%;
        height: 500px;
        margin: auto;
    }
    #carouselExampleIndicators{
        display: block;
    }
    .con2 p{
        color: white;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding-right: 10px;
        text-align: justify;
    }
    .contentCard{
        width: 90%;
        height: 96vh;
        margin: 5vw auto;
        border-radius: 15px;
        background-color: #2A7E46;
    }
    .calocho{
        width: 85%;
        height: 62vh;
        display: block;
    }
    .calocho p{
        margin-top: 10px;
        color: white;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: justify;
        padding-left: 5px;
        padding-right: 5px;
    }
    .calocho img{
        border-radius: 15px;
        margin-top: 10px;
       
        height: 25vh;
        width: 65%;
    }
}

@media screen and (max-height: 667px){
        
    .contentCard{
        height: 100vh;
        padding-top: 25rem;
        padding-bottom: 30rem;
    }
    .contentCard .con2 img{
        margin-top: 4rem;
        width: 50%;
    }

    .calocho{
        padding-bottom: 42rem;
    }
    .calocho img{
        width: 37vh;
        height: 35vh;
    }
    .contentCard .con2 img{
        width: 80%;
        margin-left: 10%;
    }
}    

@media screen and (max-height:360px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: auto;
    }
    .calocho img{
        height: 25rem;
        width: 100%;
    }
    
}
@media screen and (max-height:896px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: 30;

    }
    .calocho img{
        height: 12rem;
        width: 100%;
    }
    .contentCard{
        height: 95vh;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
@media screen and (max-height:844px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: 30;
    }
    .calocho img{
        height: 15rem;
        width: 100%;
    }
    .contentCard{
        height: 95vh;
    }
    .calocho{
        height: 80vh;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
@media screen and (max-height:851px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: 30;
    }
    .calocho img{
        height: 15rem;
        width: 100%;
    }
    .contentCard{
        height: 95vh;
    }
    .calocho{
        height: 80vh;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
@media screen and (max-height:740px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: 30;
    }
    .calocho img{
        height: 15rem;
        width: 100%;
    }
    .contentCard{
        height: 95vh;
    }
    .calocho{
        height: 95vh;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
@media screen and (max-height:915px){
    .contentCard .con2 img{
        height: 40%;
        width: 80%;
    }
    .con2{
        display: block;
        height: 30;
    }
    .calocho img{
        height: 15rem;
        width: 100%;
    }
    .contentCard{
        height: 95vh;
    }
    .calocho{
        height: 65vh;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}

@media screen and (max-height:720px){
    .contentCard .con2 img{
        height: 40vh;
        width: 20vh;
    }
    .calocho img{
        height: 20rem;
        width: 100%;
    }
    .contentCard{
        height: 90vh;
    }
    .calocho{
        height: 80vh;
        width: 90%;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
@media screen and (max-height:653px){
    .contentCard .con2 img{
        height: 40vh;
        width: 20vh;
    }
    .calocho img{
        height: 20rem;
        width: 100%;
    }
    .contentCard{
        height: 90vh;
    }
    .calocho{
        height: 80vh;
        width: 90%;
    }
    .contentCard .con2 img{
        height:40vh;
        width: 80%;
        overflow: hidden;
        margin-top: -3vh;
    }
    
}
