@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
  }
a{
    color:#f2f5f7;
}

nav{
font-family: sans-serif;
letter-spacing: 1px;
font-weight: 300;
height: 6rem;
width: 100%;
display: flex;
z-index: 10;
background-color: #70AF85;
border-bottom-left-radius: 2em;
box-shadow: 0 3px 20px rgba(0,0,0,0.2);

}


.logo{
padding: 3vh 3vw;
text-align: left;
width: 20vw;
}

.logo img{
height: auto;
width: 10rem;
}


.nav-links{
width: 80vw;
display: flex;
padding: 0 0.7vw;
justify-content: space-around;
align-items: center;
color:#ffffff;
text-transform: uppercase;
list-style: none;
font-weight: 600;
}

.nav-links li a{
margin: 0 0.7vw;
text-decoration: none;
transition: all ease-in-out 350ms;
padding: 10px;
}

.nav-links li a:hover{
color:#000;
background-color: #fff;
padding: 40px;
}

.nav-links li{
position:relative;
}

.nav-links li a:hover::before{
width: 80%;
}



/*Botones*/



/* Icono*/
.hamburger div{
width: 30px;
height: 3px;
background: #f2f5f7;
margin: 5px;
transition: all 0.3s ease;
}

.hamburger{
display: none;
}



@media screen and (max-width: 800px){
nav{
    position: fixed;
    z-index: 3;
}
.hamburger{
    display:block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
}
.nav-links{
    background-color: #97DBAE;
    position: fixed;
    opacity: 1;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}
.nav-links li{
    opacity: 0;
}


li.fade{
    opacity: 1;
}


    .toggle .bars1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .bars2{
        transition: all 0s ease;
        width: 0;
    }

    .toggle .bars3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

}